* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6fff3;
}
h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
}
.accordion-container {
    width: 600px;
    height: 900px;
}
.accordion-item {
    margin-bottom: 10px;
    background-color: aliceblue;
    overflow: hidden;
    border-radius: 5px;
}
.accordion-item.active {
    max-height: 600px;
}
.accordion-icon {
    transition: all 0.4s ease-in-out;
}
.accordion-item.active
    .accordion-title
    .accordion-icon {
    transform: rotate(180deg);
}
.accordion-title {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
}
.accordion-description {
    font-size: 18px;
    max-height: 0;
    transition: all 0.4s ease-in-out;
    padding: 0px 10px;
}
